/scripts
.env
/__pycache__
client_secret.json
/distribution/__pycache__
/pdf/__pycache__
/utils/__pycache__
/output/*.pdf
/output/*.html
/output/*.css
/output/deepseek_requests_*.jsonl
/collectors/__pycache__
/auth/__pycache__
/ai/__pycache__
/output
/.claude
